{% extends 'base.html' %}

{% block item %}
  {% if g.user['tipo'] == "cliente" %}
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" style="color: white;" href="{{ url_for('vista.ingresarproducto') }}"}}>Ingresar producto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" style="color: white;" href="{{ url_for('vista.listaproductos') }}"}}>Ver productos</a>
  </li>
  {% endif %}
{% endblock %}

{% block item2 %}
{% if g.user %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;"> {{ g.user['nombre'] }} </a>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
  </ul>
</li>
{% endif %}
{% endblock item2 %}

{% block body %}
    {% if g.user %}
      {% if g.user['tipo'] == "cliente" %}
      <br>
      <div class="container">
        <a href="{{ url_for('vista.ingresar') }}" class="btn btn-primary col-sm-1" style="font-weight: bold;">+</a>
      </div><br>
      <div class="container">
        <div class="card text-center mx-auto">
          <table class="table-active">
            <thead>
              <tr>
                <th scope="col">Acción</th>
                <th scope="col">id</th>
                <th scope="col">Producto(s)</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tipo de moneda</th>
                <th scope="col">Lugar de entrega</th>
                <th scope="col">Termino de pago</th>
              </tr>
            </thead>
            <tbody>
              {% if items|length > 0 %}
              {% for item in items %}
              <tr>
                <td scope="row"><a href="{{ url_for('vista.detalle') }}">Ver</a></td>
                <td scope="row">{{ item.id }}</td>
                <td scope="row">{{ item.producto }}</td>
                <td scope="row">{{ item.fecha.replace("T", " ") }}</td>
                <td scope="row">{{ item.tmoneda }}</td>
                <td scope="row">{{ item.lugar }}</td>
                <td scope="row">{{ item.tpago }} días</td>
              </tr>
              {% endfor %}
              {% else %}
              <tr style="text-align: center;">
                <td colspan="10"> No existen datos</td>
              </tr>
              {% endif %}
            </tbody>
            </table>
        </div>

      </div>
      
      {% elif g.user['tipo'] == "proveedor" %}
      <br>
      <div class="container">
        <a href="{{ url_for('vista.ingresar') }}" class="btn btn-primary col-sm-1">+</a>
      </div><br>
      <div class="container">
        <div class="card text-center mx-auto">
          <table class="table-active">
            <thead>
              <tr>
                <th scope="col">Acción</th>
                <th scope="col">id</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tipo de moneda</th>
                <th scope="col">Lugar de entrega</th>
                <th scope="col">Termino de pago</th>
              </tr>
            </thead>
            <tbody>
              {% if items|length > 0 %}
              {% for item in items %}
              <tr>
                <td scope="row"><a href="{{ url_for('vista.detalle') }}">Ver</a></td>
                <td scope="row">{{ item.id }}</td>
                <td scope="row">{{ item.fecha.replace("T", " ") }}</td>
                <td scope="row">{{ item.tmoneda }}</td>
                <td scope="row">{{ item.lugar }}</td>
                <td scope="row">{{ item.tpago }} días</td>
              </tr>
              {% endfor %}
              {% else %}
              <tr style="text-align: center;">
                <td colspan="10"> No existen datos</td>
              </tr>
              {% endif %}
            </tbody>
            </table>
        </div>

      </div>
      {% endif %}
    {% endif %}
{% endblock %}

{% block script %}
{% endblock %}
