{% extends 'base.html' %}

{% block item %}
<!-- <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('vista.inicio') }}">Inicio</a>
</li> -->
{% endblock item %}

{% block item2 %}
{% if g.user %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;"> {{ g.user['nombre'] }} </a>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
  </ul>
</li>
{% endif %}
{% endblock item2 %}

{% block body %}
    {% if g.user['tipo'] == "cliente" %}
      <br>
      <div class="container">
        <a href="{{ url_for('vista.inicio') }}" class="btn btn-primary col-sm-1">Volver</a>
      </div><br>
      <div class="container">
        {% if error %}
        <div class="mb-1">
          <div class="alert alert-danger" role="alert">
              <p>{{ error }}</p>
          </div>
        </div>
        {% endif %}
        <div class="card text-center mx-auto">
          <h5 style="text-align: center;">Ingresar datos cliente</h5>
          <form method="post">
            <div class="mb-4">
              <label for="opcion" class="form-label">Seleccione producto</label>
              <select id="opcion">
                <option value="" selected>Seleccione productos</option>
                {% for item in items %}
                <option value="{{ item.sku }}">{{ item.sku }}</option>
                {% endfor %}
              </select>
              <input type="text" id="sku" name="sku" class="campo-texto" required>
              <button id="boton" type="button">Des-seleccionar</button>
            </div>
            <div class="mb-4">
              <label for="fecha" class="form-label">Fecha</label>
              <input type="datetime-local" name="fecha" class="form-control" required>
            </div>
            <div class="mb-4">
              <label for="tmoneda" class="form-label">Tipo de moneda</label>
              <select name="tmoneda">
                <option value="clp">CLP (peso chileno)</option>
                <option value="usd">USD (dolar estadounidense)</option>
              </select>
            </div>
            <div class="mb-4">
              <label for="lugar" class="form-label">Lugar de entrega</label>
              <input type="text" name="lugar" class="form-control" required>
            </div>
            <div class="mb-4">
              <label for="tpago" class="form-label">Termino de pago</label>
              <select name="tpago">
                <option value="30">30 días</option>
                <option value="60">60 días</option>
                <option value="90">90 días</option>
            </div><br>
            <div class="mb-4">
              <input type="submit" class="btn btn-primary" value="Ingresar datos">
            </div>
          </form>
        </div>
      </div>
    {% elif g.user['tipo'] == "proveedor" %}
      <br>
      <div class="container">
        <a href="{{ url_for('vista.inicio') }}" class="btn btn-primary col-sm-1">Volver</a>
      </div><br>
      <div class="container">
        {% if error %}
        <div class="mb-1">
          <div class="alert alert-danger" role="alert">
              <p>{{ error }}</p>
          </div>
        </div>
        {% endif %}
        <div class="card text-center mx-auto">
          <h5 style="text-align: center;">Ingresar datos proveedor</h5>
          <form method="post">
            <div class="mb-4">
              <label for="cliente" class="form-label">Seleccione producto</label>
              <select name="cliente">
                {% for item in items %}
                <option value="{{ item.id }}">{{ item.id }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-4">
              <label for="fecha" class="form-label">Fecha</label>
              <input type="datetime-local" name="fecha" class="form-control" required>
            </div>
            <div class="mb-4">
              <label for="tmoneda" class="form-label">Tipo de moneda</label>
              <select name="tmoneda">
                <option value="clp">CLP (peso chileno)</option>
                <option value="usd">USD (dolar estadounidense)</option>
              </select>
            </div>
            <div class="mb-4">
              <label for="lugar" class="form-label">Lugar de entrega</label>
              <input type="text" name="lugar" class="form-control" required>
            </div>
            <div class="mb-4">
              <label for="tpago" class="form-label">Termino de pago</label>
              <select name="tpago">
                <option value="30">30 días</option>
                <option value="60">60 días</option>
                <option value="90">90 días</option>
            </div><br>
            <div class="d-grid">
              <input type="submit" class="btn btn-primary" value="Ingresar datos">
          </div>
          </form>
        </div>
      </div>
    {% endif %}
{% endblock body %}

{% block script %}

<script>
  // Obtener una referencia al elemento select
  var select = document.getElementById('opcion');

  select.addEventListener('change', function() {
    var opSelect = (this.value).toString();
    var campoDeTexto = document.getElementById('sku');
    campoDeTexto.value += opSelect + ' ';
  });

  // Obtener una referencia al botón
  var boton = document.getElementById('boton');

  // Agregar un manejador del evento click al botón
  boton.addEventListener('click', function() {
    // Des-seleccionar cualquier opción seleccionada
    select.selectedIndex = 0;
    var campoDeTexto = document.getElementById('sku');

    // Limpiar el contenido del campo de texto
    campoDeTexto.value = '';
  });
</script>

{% endblock script %}