.navbar {
    background: rgb(15,52,96);
    background: linear-gradient(90deg, rgba(15,52,96,1) 0%, rgba(15,52,96,1) 100%);
}

body {
    background: rgb(118,159,205);
    background: linear-gradient(90deg, rgba(118,159,205,1) 0%, rgba(185,215,234,1) 25%, rgba(214,230,242,1) 75%, rgba(247,251,252,1) 100%);
}

.form-group {
    margin-bottom: 1em;
}