{% extends 'base.html' %}

{% block item %}
<li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Iniciar sesión</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('auth.register') }}">Registrarse</a>
  </li>
{% endblock item %}

{% block body %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="row">
            <h2 class="fw-bold text-center py-5">Bienvenido</h2>
            <form method="post">
                <div class="mb-4">
                    <label for="correo" class="form-label">Correo electrónico</label>
                    <input type="correo" name="username" class="form-control">
                </div>
                <div class="mb-4">
                    <label for="clave" class="form-label">Contraseña</label>
                    <input type="password" name="clave" class="form-control">
                </div>
                <div class="mb-4"></div>
                <div class="d-grid">
                    <input type="submit" class="btn btn-primary" value="Iniciar sesion">
                </div>
            </form>
        </div>
    </div>
{% endblock %}