{% extends 'base.html' %}

{% block item %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('auth.login') }}">Iniciar sesión</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Registrarse</a>
  </li>
{% endblock item %}

{% block body %}
    <div class="container d-flex align-items-center justify-content-center">
      <form method="post">
        <h1 class="fw-bold text-center py-5">Formulario de Registro</h1>
  
        <div class="mb-4">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="nombre" class="form-control" name="nombre">
        </div>

        <div class="mb-4">
          <label for="direccion" class="label">Dirección</label>
          <input type="direccion" class="form-control" name = "direccion">

        </div>

        <div class="mb-4">
          <label for="telefono" class="form-label">Teléfono</label>
          <input type="telefono" class="form-control" name ="telefono">
        </div>

        <div class="mb-4">
          <label for="correo" class="form-label">Email</label>
          <input type="correo" class="form-control" name ="correo">
        </div>
  
  
        <div class="mb-4">
          <label for="clave" class="form-label">Contraseña</label>
          <input type="password" class="form-control" name ="clave">
        </div>

        <div class="mb-4">
        <input type="radio" id="cliente" name="tipo" value="cliente">
        <label for="cliente">Cliente</label><br>
        <input type="radio" id="proveedor" name="tipo" value="proveedor">
        <label for="proveedor">Proveedor</label><br>
        </div>
        
        <input type="submit" class="btn btn-primary" value="Registrarse">
      </form>
    </div>
{% endblock  %}