{% extends 'base.html' %}

{% block item %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('auth.login') }}">Iniciar sesión</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Registrarse</a>
  </li>
{% endblock item %}

{% block body %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="row">
            <h2 class="fw-bold text-center py-5">Bienvenido</h2>
            {% if error %}
            <div class="mb-1">
                <div class="alert alert-danger" role="alert">
                    <p>{{ error }}</p>
                </div>
            </div>
            {% endif %}
            <form method="post">
                <div class="mb-4">
                    <label for="name" class="form-label">Nombre y apellido</label>
                    <input type="name" name="name" class="form-control" required>
                </div>
                <div class="mb-4">
                  <label for="direccion" class="form-label">Dirección</label>
                  <input type="direccion" name="direccion" class="form-control" required>
                </div>
                <div class="mb-4">
                  <label for="tel" class="form-label">Teléfono</label>
                  <input type="tel" name="tel" class="form-control" required>
                </div>
                <div class="mb-4">
                  <label for="mail" class="form-label">Correo electrónico</label>
                  <input type="mail" name="mail" class="form-control" required>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="mb-4">
                  <input type="radio" id="cliente" name="tipo" value="cliente" required>
                  <label for="cliente">Cliente</label><br>
                  <input type="radio" id="proveedor" name="tipo" value="proveedor" required>
                  <label for="proveedor">Proveedor</label>
                </div>
                <div class="d-grid">
                    <input type="submit" class="btn btn-primary" value="Registrarse">
                </div>
            </form>
        </div>
    </div>
{% endblock  %}