{% extends 'base.html' %}

{% block item %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('auth.login') }}">Iniciar sesión</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Registrarse</a>
  </li>
{% endblock item %}

{% block body %}
    <div class="container d-flex align-items-center justify-content-center">
      <form action="" class="form">
        <h1 class="fw-bold text-center py-5">Formulario de Registro</h1>
  
        <div class="mb-4">
          <input type="text" class="form-control" placeholder="">
          <label for="" class="form-label">Nombre de usuario (Obligatorio)</label>
        </div>

        <div class="mb-4">
          <input type="text" class="form-control" placeholder="">
          <label for="" class="label">Direccion</label>
        </div>

        <div class="mb-4">
          <input type="number" class="form-control" placeholder="">
          <label for="" class="form-label">Telefono</label>
        </div>

        <div class="mb-4">
          <input type="text" class="form-control" placeholder="">
          <label for="" class="form-label">Email</label>
        </div>
  
  
        <div class="mb-4">
          <input type="text" class="form-control" placeholder="">
          <label for="" class="form-label">Contraseña</label>
        </div>

        <div class="mb-4">
        <input type="radio" id="cliente" name="tipe_account" value="cliente">
        <label for="cliente">Cliente</label><br>

        <div class="mb-4">
          <input type="radio" id="proovedor" name="tipe_account" value="proovedor">
          <label for="proovedor">Proovedor</label><br>

        <input type="submit" class="btn btn-primary" value="Registrarse">
      </form>
    </div>
{% endblock  %}